body {
    background: #F3F5FC;
    font-family: Inter, Arial;
}

header #logo {
    position: fixed;
    width: 10vw;
    height: 7vh;
    top: 6%;
}

form #inputTexto {
    font-size: 2vw;
    text-align: left;
    background-color: #F3F5FC;
    border: none;
    color: #0A3871;
    position: relative;
    top: 20vh;
    left: 12vw;
}

form #inputTexto::placeholder {
    color: #0A3871;
}

form #inputTexto:active {
    border: none;
}

aside {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 20vw;
    height: 85vh;
    left: 75%;
    top: 6%;
    background: #FFFFFF;
    box-shadow: 0 1.5vw 2vh -.5vw rgba(0, 0, 0, 0.08);
    border-radius: 2vw;
}

aside #muñeco {
    /* Otro ejemplo */
    width: 15vw;
    height: 30vh;
    position: relative;
    top: 15%;
}

.mensajes {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2.5vh;
    position: absolute;
    top: 60%;
}

#mensajeAside {
    padding: 0 1rem;
    color: #343A40;
    font-weight: 700;
    font-size: 1.25vw;
}

#parrafoAside {
    color: #495057;
    font-size: 0.85vw;
}

#copiarBtn {
    display: none;
    position: absolute;
}

.label {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    height: auto;
    left: 12vw;
    top: 70vh;
}

.label #icono {
    width: 3vw;
    height: 3vh;
}

.label label {
    font-size: .90vw;
    color: #495057;
    opacity: 0.8;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3vw;
    position: absolute;
    width: 60vw;
    height: 4.2vh;
    left: 12.7vw;
    top: 75vh;
}

button {   
    font-size: 1.1vw;
    padding: 1.5%;
    width: 15vw;
    height: 10vh;
    background: #0A3871;
    border: none;
    border-radius: 1vw;
    color: #FFFFFF;
}

#desencriptarBtn {
    background: #D8DFE8;
    color: #0A3871;
    border: .05vw solid #0A3871;
}

@media screen and (max-width: 1024px) {
}