body {
    background: #F3F5FC;
    font-family: Inter, Arial;
    scroll-behavior: smooth;
}

header #logo {
    position: fixed;
    width: 10vw;
    height: 7vh;
    top: 6%;
}

form #inputTexto {
    font-size: 2vw;
    text-align: left;
    background-color: #F3F5FC;
    border: none;
    color: #0A3871;
    position: relative;
    top: 20vh;
    left: 12vw;
}

form #inputTexto::placeholder {
    color: #0A3871;
}

form #inputTexto:active {
    border: none;
}

aside {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 22vw;
    height: 85vh;
    left: 75%;
    top: 6%;
    background: #FFFFFF;
    box-shadow: 0 1.5vw 2vh -.5vw rgba(0, 0, 0, 0.08);
    border-radius: 2vw;
}

aside #muñeco {
    /* Otro ejemplo */
    width: 15vw;
    height: 30vh;
    position: relative;
    top: 15%;
}

.mensajes {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2.5vh;
    position: absolute;
    top: 60%;
}

#mensajeAside {
    padding: 0 1rem;
    color: #343A40;
    font-weight: 700;
    font-size: 1.25vw;
}

#parrafoAside {
    color: #495057;
    font-size: 1vw;
}

#copiarBtn {
    display: none;
    position: absolute;
    background: #ffffff;
    color: #0A3871;
    border: 0.1vw solid #0A3871;
    top: 69vh;
    width: 85;
}

.label {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    height: auto;
    left: 12vw;
    top: 70vh;
}

.label #icono {
    width: 3vw;
    height: 3vh;
}

.label label {
    font-size: .90vw;
    color: #495057;
    opacity: 0.8;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3vw;
    position: absolute;
    height: 4.2vh;
    left: 12.7vw;
    top: 75vh;
}

button {   
    font-size: 1.1vw;
    width: 20vw;
    height: 8vh;
    background: #0A3871;
    border: none;
    border-radius: 1vw;
    color: #FFFFFF;
}

#desencriptarBtn {
    background: #D8DFE8;
    color: #0A3871;
    border: .1vw solid #0A3871;
}

@media screen and (max-width: 835px) {
    form #inputTexto {
        font-size: 3.5vw;
        top: 25vh;
        left: 5vw;        
    }

    aside #muñeco {
        display: none;
    }

    aside {
        left: 5vw;
        top: 65vh;
        width: 90vw;
        height: 30vh;
    }
    
    .mensajes {
        top: 8vh;
    }

    #mensajeAside {
        font-size: 2.6vw;
    }
    
    #parrafoAside {
        font-size: 2vw;
    }

    .botones {
        height: 2vh;
        top: 55vh;
        left: 5vw;
        width: 90vw;
    }

    .label #icono {
        width: 1.5vw;
        height: 1.5vh;
    }
    .label {
        top: 50vh;
        left: 5vw;
        gap: .5vw;
    }

    .label label {
        font-size: 1.7vw;
    }

    button {
        font-size: 2vw;
        width: 100vw;
        height: 7vh;
        border-radius: 1.6vw;
    }
    
    #copiarBtn {
        top: 20vh;
        width: 85vw;
    }
}

@media screen and (max-width: 428px) {
    header #logo {
        position: relative;
        top: 0;
        width: 17vw;
        height: 12vh;
    }

    form #inputTexto {
        font-size: 6vw;
        width: 90vw;
    }
    
    aside {
        position: relative;
        top: 82vh;
        height: 40vh;
    }

    .mensajes {
        width: 80vw;
        top: 20%;
    }

    #mensajeAside {
        font-size: 5vw;
    }

    #parrafoAside {
        font-size: 4vw;
    }

    .botones {
        flex-direction: column;
        height: 20vh;
        top: 75vh;
        left: 5vw;
    }

    .label {
        gap: 1vw;
        top: 70vh;
    }
    
    .label label {
        font-size: 3.1vw;
    }
    
    button {
        top: 0;
        font-size: 4.2vw;
        width: 90vw;
        height: 20vh;
        border-radius: 3.6vw;
    }

    #copiarBtn {
        height: 10vh;
        top: 25vh;
    }
}